﻿<link href="../Css/MenuAyudaArbolProblemas.css" rel="stylesheet" />


<!--INICIA AYUDA TEXTO-->

<div id="ayudaTextoTres">
    <div class="svg-popup-content">
        <h3 class="title-plagin" style="text-align:center; color:#238271; text-transform:uppercase; font-weight:600;">Árbol de problemas</h3>
        <hr style="background:black;" />

        <p>
            <h4><b>Problema central</b></h4>
        <p>
            Se define como una situación no deseada, es decir, una situación negativa que padece la comunidad en un momento determinado. Un problema no es la ausencia de su solución, sino un estado existente negativo.
        </p>

        <br />

        <h4><b>Causas directas</b></h4>
        <p>
            Aquellas acciones o hechos concretos que generan o dan origen al problema central del proyecto. (Metodología General para la Formulación y Evaluación de Proyectos de Inversión Pública, 2013).
        </p>


        <br />

        <h4><b>Causas indirectas</b></h4>
        <p>
            Acciones o hechos que dan origen a las causas directas, pero que no están relacionadas directamente con el problema central del proyecto. (Metodología General para la Formulación y Evaluación de Proyectos de Inversión Pública, 2013).
        </p>


        <br />

            <h4><b>Efectos directos</b></h4>
            <p>Son el resultado o las consecuencias que originan la existencia del problema central en la población afectada.
               (Metodología General para la Formulación y Evaluación de Proyectos de Inversión Pública, 2013).
            </p>


        <br />

            <h4><b>Efectos indirectos</b></h4>
            <p>
                Son el resultado o las consecuencias que generan los efectos directos por la existencia del problema, pero que no se originan directamente del problema. (Metodología General para la Formulación y Evaluación de Proyectos de Inversión Pública, 2013).
            </p>
        </p>

    </div>
</div>

<!--FINALIZA AYUDA TEXTO-->
<!--INICIA AYUDA VIDEO-->

<div id="ayudaVideoTres">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QA6eLUTgAFE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!--FINALIZA AYUDA VIDEO-->


<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle2" />
    <label id="menuToggle" for="toggle2">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">

        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="atras()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-file button demo-btn ayudaTextoTres menuAyuda" title="Leer ayuda" data-svg-popup="ayudaTextoTres" style="font-size:22px;"></a></li>
        <li><a class="fa fa-video-camera button demo-btn ayudaVideoTres menuAyuda" title="Ver ayuda" data-svg-popup="ayudaVideoTres" style="font-size:22px;"></a></li>
        <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>

    </menu>
</nav>

 <!-- ALERTAS -->
<div id="alerta">
    <h3></h3>
    <p></p>
</div>

<!-- VENTANAS MODALES -->
<div id="modal">
    <div id="crearProblemaCentral" class="contenidoModal">
        <h2 style="font-weight:600;">Define tu problema central</h2>
        <hr>
        <p>Nota: Maximo 140 caracteres.</p>
        <textarea id="txtProblemaInicial" name="name" maxlength="140"></textarea>
        <input id="btnProblemaCentral" class="btn" type="button" name="problemaCentral" value="Listo">
    </div>
</div>

<!-- MOSTRAR Y OCULTAR EL PANEL -->
<div id="mostrarPanel" ng-click="mostrarPanel()">
    <h6 id="textoPanel">Ocultar</h6>
</div>

<!-- PANEL -->
<div id="panel">
    <h4>Agregar</h4>
    <hr>
    <!-- ELEMENTO -->
    <select class="form-control" name="elemento" id="elemento" ng-change="cambioElemento()" ng-model="probando">
        <option value="vacio">Seleccionar...</option>
        <option value="efecto">Efecto</option>
        <option value="causa">Causa</option>
        <option value="efectoIndirecto">Efecto Indirecto</option>
        <option value="causaIndirecta">Causa Indirecta</option>
    </select>
    <!-- ASIGNAR INDIRECTA -->
    <div id="indirecta">
        <h5 style="font-weight:600;">Asignar a <span id="txtIndirecta">Causa</span></h5>
        <select class="form-control" name="asiganrIndirecta" id="asignarIndirecta">
            <option value="vacio">Seleccionar...</option>
        </select>
    </div>
    <!-- BOTON CREAR ELEMENTO -->
    <input id="btnCrear" class="btn" type="button" name="crearElemento" value="Crear" ng-click="crear()">

</div>

    <div id="tipsArbolProblema" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh; position:fixed;">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height:5vh;">
            <div id="ayuda" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:5vh;">
                <span><i class="fa fa-info-circle" style="font-size:40px; color:#238276; cursor:pointer; float:left;" onclick="tipArbolProblema()"></i></span>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height:5vh;">
            <div id="ayuda" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:5vh;">
                <span><i class="fa fa-info-circle" style="font-size:40px; color:#238276; cursor:pointer; float:left;" onclick="tipArbolProblemaDos()"></i></span>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height:5vh;">
            <div id="ayuda" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:5vh;">
                <span><i class="fa fa-info-circle" style="font-size:40px; color:#238276; cursor:pointer; float:left;" onclick="tipArbolProblemaTres()"></i></span>
            </div>
        </div>

    </div>


<!--<div id="guardar"><p id="guardarTexto">Guardar</p></div>-->

<!-- ARBOL -->
<div id="arbolContenedor" >
    <!-- EFECTOS INDIRECTOS -->
    <ul id="efectoIndirecto" class="nivel3"></ul>
    <!-- IMG3 -->
    <div id="imgEfecto3" class="img3"></div>
    <!-- EFECTOS -->
    <ul id="efecto" class="nivel2"></ul>
    <!-- IMG2 -->
    <img id="imgEfecto" src="" class="img2">
    <!-- PROBLEMA CENTRAL -->
    <ul id="problemaCentral" class="nivel1">
        <li class="bloque">
            <textarea id="txtProblema" class="txtBloque" name="txtProblema" maxlength="140"></textarea>
        </li>
    </ul>

    <div id="guardar" style="position:absolute; z-index:9;" title="Guardar" ng-click="guardar()">
        <i id="iconGuardar" class="fa fa-floppy-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
        <p style="font-size:10px; text-align:center">Guardar</p>
    </div>

    <!-- IMG2 -->
    <img id="imgCausa" src="" class="img2">
    <!-- CAUSAS -->
    <ul id="causa" class="nivel2"></ul>
    <!-- IMG3 -->
    <div id="imgCausa3" class="img3"></div>
    <!-- CAUSAS INDIRECTAS -->
    <ul id="causaIndirecta" class="nivel3"></ul>

    <!--<input id="btnCrear2" class="btn" type="button" name="crearElemento" value="Crear" ng-click="crear()">-->
</div>

<script src="../Modelos/ArbolProblema/BorrarElemento.js"></script>
<script src="../scripts/AnimacionTextoVideoAudio.js"></script>


<style>
    ::-webkit-scrollbar {
      width: 5px;
}

</style>