﻿<link href="../Css/MenuAyudaCronogramaPresupuesto.css" rel="stylesheet" />

<!--INICIA AYUDA TEXTO-->

<div id="ayudaTextoDiez">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin" style="text-align:center; color:#238271; text-transform:uppercase; font-weight:600;">Cronograma</h3>
        <hr style="background:black;" />

        <p>
           Son aquellas actividades que el ejecutor tiene que llevar a cabo para cumplir cada objetivo específico e implican la utilización de recursos.
        <p>


    </div>
</div>

<!--FINALIZA AYUDA TEXTO-->
<!--INICIA AYUDA VIDEO-->

<div id="ayudaVideoDiez">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=K22qJ-VikTo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!--FINALIZA AYUDA VIDEO-->



<div class="container-fluid" style="height: auto; margin-top:-10%;">

    <div class="container" style="height:200%; background-color:rgba(192,192,192,0.15);">

        <div id="containerCronograma">

            <nav class="verticalSeis" id="menuAyudaSeis">
                <input type="checkbox" id="toggle6" />
                <label id="menuToggle" for="toggle6">
                    <span class="fa fa-bars" style="font-size:22px;"></span>
                </label>
                <menu style="margin-top:-6%;">
                    <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
                    <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="atras()" style="font-size:22px;"></a></li>
                    <li><a class="fa fa-file button demo-btn ayudaTextoDiez menuAyuda" title="Leer ayuda" data-svg-popup="ayudaTextoDiez" style="font-size:22px;"></a></li>
                    <li><a class="fa fa-video-camera button demo-btn ayudaVideoDiez menuAyuda" title="Ver ayuda" data-svg-popup="ayudaVideoDiez" style="font-size:22px;"></a></li>
                    <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>

                </menu>
            </nav>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
                <h1 class="titulovistaObjetivos">CRONOGRAMA</h1>
            </div>


            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: auto;">

                <center>
                    <table class="table table-responsive " style="width:80%;">
                        <thead>
                            <tr>

                                <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">Actividad</th>
                                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">Fecha inicio</th>
                                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">Fecha fin</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr   ng-repeat="crono in Cronograma">
                                <td><textarea class="form-control"maxlength="500" ng-model="crono.Actividad" ></textarea></td>
                                <td class="input-daterange">
                                   
                                    <input class="form-control FI" id="FeI" style="width:100%; height:50px;"   ng-model="crono.FechaInicio" />
                                </td>

                                <td class="input-daterange">
                                    <input class="form-control FE" id="FeF" style="width:100%; height:50px;"   ng-model="crono.FechaFin"  />
                                </td>
                            </tr>



                        </tbody>
                    </table>

                </center>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:6vh;">

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:6vh; margin-left:6%;">

                        <center>
                            <div id="agregarPresupuesto" ng-click="agregarCronograma()">
                                <i id="iconEditar" class="fa fa-plus-square-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                            </div>
                            <p style="font-size:10px;">Agregar</p>
                        </center>

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:6vh; margin-left:2%;">

                        <center>
                            <div ng-click="EliminarCamposCrononograma()" >
                                <i id="iconEditar" class="fa fa-trash-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                            </div>
                            <p style="font-size:10px;">Eliminar</p>
                        </center>

                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="height:6vh;"></div>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:6vh; margin-left:80%; margin-top:-5%">

                        <div style="margin-left:92%;" ng-click="GuardarCronograma()">
                            <i id="iconGuardar" class="fa fa-floppy-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                            <p style="font-size:10px; text-align:center; margin-left:-60%;">Guardar</p>

                        </div>
                    </div>

                </div>


                <!--<div>
                    <button class="btn btn-success fa fa-plus" style="margin-left:10%" id="agregarPresupuesto" ng-click="agregarCronograma()"></button>
                    <button class="btn btn-danger" ng-click="EliminarCamposCrononograma()" >Eliminar campo</button>
                    <button class="btn btn-success" style="margin-left:82%; margin-top:-6%" ng-click="GuardarCronograma()">Guardar</button>
                </div>-->
            </div>
        </div>



<!--container de Presupuesto-->

<div id="ayudaTextoOnce">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin" style="text-align:center; color:#238271; text-transform:uppercase; font-weight:600;">Presupuesto</h3>
        <hr style="background:black;" />

        <p>
            En el campo de proyectos, un presupuesto es el cálculo anticipado de los gastos y costos que se deben tener en cuenta para la ejecución de un proyecto.
        <p>


    </div>
</div>

<!--FINALIZA AYUDA TEXTO-->
<!--INICIA AYUDA VIDEO-->

<div id="ayudaVideoOnce">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=K22qJ-VikTo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!--FINALIZA AYUDA VIDEO-->
        
           <div id="containerPresupuesto" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

               <nav class="verticalSiete" id="menuAyudaSiete">
                   <input type="checkbox" id="toggle7" />
                   <label id="menuToggle" for="toggle7">
                       <span class="fa fa-bars" style="font-size:22px;"></span>
                   </label>
                   <menu style="margin-top:-6%;">
                       <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
                       <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="atras()" style="font-size:22px;"></a></li>
                       <li><a class="fa fa-file button demo-btn ayudaTextoOnce menuAyuda" title="Leer ayuda" data-svg-popup="ayudaTextoOnce" style="font-size:22px;"></a></li>
                       <li><a class="fa fa-video-camera button demo-btn ayudaVideoOnce menuAyuda" title="Ver ayuda" data-svg-popup="ayudaVideoOnce" style="font-size:22px;"></a></li>
                       <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>

                   </menu>
               </nav>

               <div style="height: 12vh; margin-left:5%;">
                   <h1 class="titulovistaObjetivos">PRESUPUESTO</h1>
               </div>

               <center>
                   <table id="tablita" class="table table-responsive " style="width:100%;">
                       <thead>
                           <tr>
                               <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">Item</th>
                               <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">Concepto</th>
                               <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">Descripción</th>
                               <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" style="font-size:13px;">Und medida</th>
                               <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">Cantidad</th>
                               <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">Valor unitario</th>
                               <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">Valor total</th>
                           </tr>
                       </thead>

                       <tbody>

                           <tr ng-repeat="presu in Presupuesto">
                               <td><input  class="form-control" type="number" style="margin-top:11%;"  min="1" onkeypress="if(this.value.length==3) return false" placeholder="#"  ng-model="presu.Item"/></td>
                               <td><input class="form-control" type="text" style="margin-top:5%; " maxlength="100" ng-model="presu.Concepto"/></td>
                               <td><textarea class="form-control" type="text" maxlength="200" ng-model="presu.Descripcion"></textarea> </td>
                               <td><input class="form-control" type="text" style="margin-top:10%; " maxlength="50" ng-model="presu.Unidad"/></td>
                               <td><input class="form-control" type="number" style="margin-top:10%; " placeholder="#"  ng-keyup="CalcularValorTotal()" ng-model="presu.Cantidad"/></td>
                               <td><input placeholder="$"  class="form-control"  type="number" style="margin-top:4.5%; "  ng-keyup="CalcularValorTotal()" ng-model="presu.ValorUnitario"/></td>
                               <td><input  ng-model="presu.ValorTotal" disabled class="form-control" style="margin-top:4.5%" type="text"  /></td>

                           </tr>
                           <tr>

                               <td>
                                   <center>
                                       <div id="agregarPresupuesto" ng-click="agregarPresupuesto()">
                                           <i id="iconEditar" class="fa fa-plus-square-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                                       </div>
                                       <p style="font-size:10px;">Agregar</p>
                                   </center>
                               </td>

                               <td>
                               <!--<button class="btn btn-danger fa fa-close" style="width:50%;" ng-click="EliminarCamposPresupuesto()"></button>-->
                                   <center>
                                       <div ng-click="EliminarCamposPresupuesto()" style="margin-left:3%;">
                                           <i id="iconEditar" class="fa fa-trash-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                                       </div>
                                       <p style="font-size:10px;">Eliminar</p>
                                   </center>
                               </td>
                               <td> 
                                     <input type="number" placeholder="IVA" ng-model="AIU.Iva" ng-keyup="CalcularValorTotal()"  onkeypress="if(this.value.length==2) return false" class="form-control" style="width:45%; margin-left:0%;"/>
                                   <input type="number" placeholder="%" ng-model="AIU.A" ng-keyup="CalcularValorTotal()" class="form-control" style="width:45%; margin-left:51%; margin-top:-20%" />
                                   

                               </td>
                               <td >
                                   <input type="number"placeholder="%" ng-model="AIU.I" ng-keyup="CalcularValorTotal()" onkeypress="if(this.value.length==2) return false" class="form-control" style="width:100%; " />
                                   
                                 
                               </td>
                               <td> 
                                   <input type="number"  placeholder="%" ng-model="AIU.U" ng-keyup="CalcularValorTotal()" onkeypress="if(this.value.length==2) return false" class="form-control" style="width:100%; " />
                       
                                </td>
                               <td ><h4 style="float: right; " >Coste Total:</h4></td>
                               <td><input value="$" ng-model="total" disabled class="form-control" type="text" style="margin-top:2%;" /></td>
                           </tr>



                       </tbody>
                   </table>

                  
               </center>

               <div>
                  
               </div>
               <div>
                   <!--<button class="btn btn-success" ng-click="GuardarPresupuesto()" style="margin-left:90%;">Guardar</button>-->

                   <div style="margin-left:92%; margin-top:3%;" ng-click="GuardarPresupuesto()">
                       <i id="iconGuardar" class="fa fa-floppy-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                       <p style="font-size:10px; text-align:center; margin-left:-60%;">Guardar</p>

                   </div>

               </div>
           </div>
        

        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 8vh; background: #8196be">ICONO INFORMA</div>-->





        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:relative; height: 12vh;   ">

            
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 12vh;"><center><button  id="btnCronograma" ng-click="MostrarCronograma()" class="btn btn-success" title="Cronograma" style="border-radius:40%; margin-top:23%;"><i class="fa fa-calendar-check-o" style="font-size:55px;"></i></button></center></div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height: 12vh;"><hr class="lineaTab" style="height:2px; background:#238276; margin-top:5%;" /></div>


            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 12vh;"><center><button id="btnPresupuesto" ng-click="MostrarPresupuesto()" class="btn btn-success" title="Presupuesto" style="border-radius:40%; margin-top:23%;"><i class="fa fa-usd" style="font-size:55px;"></i></button></center></div>

        </div>

    </div>

</div>

<script src="../scripts/AnimacionTextoVideoAudio.js"></script>

<script>

    $("#FeI").change(function () {
        $("#FeF").val("");
        $("#FeF").datepicker("destroy");
        var inicio = $("#FeI").val();
        $("#FeF").datepicker({
            minDate:inicio
        });
    })
</script>
