﻿ <h1>Creative Sign In & Sign Up Forms</h1>
		<div class="message warning">
			<div class="inset agile">
							<div class="sap_tabs w3ls-tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign in</span></li> 
						<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><label>/</label><span>Sign up</span></li>
					</ul>	
					<div class="clear"> </div>
					<div class="alert-close"> </div> 
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
							<div class="login-agileits-top"> 
								<form action="#" method="post">
									<p>User Name </p>
									<input type="text" name="User Name" required=""/>
									<p>Password</p>
									<input type="password" name="Password" required=""/>	 
									<input type="checkbox" id="brand" value="">
									<label for="brand"><span></span> Remember me ?</label> 
									<input type="submit" value="SIGN IN">
								</form>  
							</div>
							<div class="login-agileits-bottom"> 
								<h2><a href="#">Forgot password?</a></h2>
							</div> 
						</div> 
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
							<div class="login-agileits-top sign-up"> 
								<form action="#" method="post">
									<p>User Name </p>
									<input type="text" name="User Name"  required=""/>
									<p>Email </p>
									<input type="email" name="Email"  required=""/>
									<p>Password</p>
									<input type="password" name="Password" placeholder="" required=""/>	
									<input type="checkbox" id="brand1" value="">
									<label for="brand1"><span></span>I accept the terms use</label> 
									<input type="submit" value="SIGN UP">
								</form>  
							</div>
						</div>
					</div>							
				</div>	 
	</div>	
	<div class="right-section-w3ls"></div>
			<div class="clear"> </div>

				</div>					
		</div>


<script src="../scripts/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	  
});
</script>
<script src="scripts/easyResponsiveTabs.js" type="text/javascript"></script>
<!-- ResponsiveTabs js -->
			<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion           
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});
			</script>
			<!-- //ResponsiveTabs js -->					