﻿
<div class="container">

    <div class="row" style="margin-bottom: 30px">


        <!-- INICIA COLUMNA IZQUIERDA -->

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">


            <!-- INICIA COLUMNA IZQUIERDA SUPERIOR-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <img src="images/logo.png" style="width:140%">

            </div>
            <!-- FINALIZA COLUMNA IZQUIERDA SUPERIOR -->
            <!-- INICIA COLUMNA IZQUIERDA DIVISOR-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60px"></div>

            <!-- FINALIZA COLUMNA IZQUIERDA DIVISOR -->
            <!-- INICIA COLUMNA IZQUIERDA INFERIOR-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left:20%;">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 200px;">

                    <img class="img" src="images/logoSena.png" style="width:100%; margin-top: -20px">

                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 200px">

                    <img src="images/centro.png" style="width:150%">

                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:60px"></div>


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 200px">

                    <img src="images/logoSennova.png" style="width:150%">

                </div>

            </div>

        </div>


        <!-- FINALIZA COLUMNA IZQUIERDA -->
        <!-- INICIA COLUMNA DERECHA -->

        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">


            <!-- INICIA FORMULARIO -->

            <div class="inset agile">
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">


                        <!-- INICIA MENÚ FORMULARIO -->

                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Ingresar</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><label>/</label><span>Regístrate</span></li>
                        </ul>

                        <!-- FINALIZA MENÚ FORMULARIO -->
                        <!-- INICIA FORMULARIO INGRESO-->

                        <div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="login-agileits-top">
                                    <form action="#" method="post">

                                        <p>Usuario</p>
                                        <input type="text" name="User Name" ng-model="Usuario.Usuario1" />

                                        <p>Contraseña</p>
                                        <input type="password" name="Password" ng-model="Usuario.Contrasena" />
                                        <input id="ingresar" type="button" value="Ingresar" ng-click="ConsultarUsuario()">
                                    </form>
                                </div>

                                <div class="login-agileits-bottom">
                                    <h2><button  id="ingresar" style="margin-top:2%;" type="button" data-toggle="modal" data-target="#ModalOlvideContra" >Olvide mi contraseña</button></h2>
                                </div>

                            </div>

                            <!-- FINALIZA FORMULARIO INGRESO-->
                            <!-- data-toggle="collapse" data-target="#form_persona"
                            data-toggle="collapse" data-target="#form_empresa" -->
                            <!-- INICIA FORMULARIO REGISTRO-->

                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="login-agileits-top sign-up">

                                    <input class="botones" id="btn_persona" type="submit" value="Persona natural">

                                    <input class="botones" id="btn_juridica" type="submit" value="Persona jurídica">


                                    <!-- INICIA FORMULARIO PERSONA NATURAL-->

                                    <form id="form_persona" class="collapse out" action="#">

                                        <p>Nombres*</p>
                                        <input type="text" name="Nombre_Registro" ng-model="PersonaNatural.Nombre" required>

                                        <p>Apellidos*</p>
                                        <input type="text" name="Apellido" ng-model="PersonaNatural.Apellidos" required>

                                        <p>Documento*</p>
                                        <input style="outline: none; font-size: 1em; color: #000; padding: .8em 1em; margin: 0;width: 100%; border: none;-webkit-appearance: none; display: block; background: #fff;" type="number"  name="Documento" ng-model="PersonaNatural.Documento" required>


                                        <p>Usuario*</p>
                                        <input type="text" name="Usuario_Registro" ng-model="PersonaNatural.Usuario" required>

                                        <p>Contraseña*</p>
                                        <input type="password" name="Password_Registro" ng-model="PersonaNatural.Contrasena" required>

                                        <p>Email*</p>
                                        <input type="email" name="Email_Registro" ng-model="PersonaNatural.Email" required>

                                        <p>Teléfono</p>
                                        <input type="text" name="Telefono_Registro" ng-model="PersonaNatural.Telefono">

                                        <input type="checkbox" id="brand1" value="">


                                        <input class="registro" type="button" value="Registrarme" ng-click="RegistroPersonaNatural()">

                                    </form>

                                    <!-- FINALIZA FORMULARIO PERSONA NATURAL-->
                                    <!-- INICIA FORMULARIO PERSONA JURÍDICA-->

                                    <form id="form_empresa" class="collapse out" action="#" method="post">

                                        <p>Razón social*</p>
                                        <input type="text" name="Nombre_Juridica" ng-model="PersonaJuridica.RazonSocial" required>

                                        <p>NIT*</p>
                                        <input style="outline: none; font-size: 1em; color: #000; padding: .8em 1em; margin: 0;width: 100%; border: none;-webkit-appearance: none; display: block; background: #fff;" type="number" name="NIT_Juridica" ng-model="PersonaJuridica.Nit" required>

                                        <p>Sector económico*</p>
                                        <input type="text" name="Sector" ng-model="PersonaJuridica.SectorEconomico" required>

                                        <p>Responsable*</p>
                                        <input type="text" name="Responsable" ng-model="PersonaJuridica.Responsable" required>

                                        <p>Email*</p>
                                        <input type="email" name="Email_juridica" ng-model="PersonaJuridica.Email" required>

                                        <p>Teléfono</p>
                                        <input style="outline: none; font-size: 1em; color: #000; padding: .8em 1em; margin: 0;width: 100%; border: none;-webkit-appearance: none; display: block; background: #fff;" type="number" name="Telefono_Juridica" ng-model="PersonaJuridica.Telefono">

                                        <p>Usuario*</p>
                                        <input type="text" name="Usuario_Juridica" ng-model="PersonaJuridica.Usuario" required>

                                        <p>Contraseña*</p>
                                        <input type="password" name="Password_Juridica" ng-model="PersonaJuridica.Contrasena" required>



                                        <input type="checkbox" id="brand1" value="">

                                        <input class="registro" type="button" value="Registrarme" ng-click="RegistroPersonaJuridica()">

                                    </form>

                                    <!-- FINALIZA FORMULARIO PERSONA JURÍDICA-->


                                </div>
                            </div>
                        </div>

                        <!-- FINALIZA FORMULARIO REGISTRO-->




                    </div>
                </div>

                <!-- FINALIZA FORMULARIO -->
            </div>
        </div>
    </div>

</div>



<div class="modal fade " id="ModalOlvideContra"  data-keyboard=”false” role="form">
    <div class="modal-dialog" style="width:30%; height:100px; ">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <center>
                    <h3 style="color:#1C75BB;">
                        OLVIDE MI CONTRASEÑA
                    </h3>
                </center>

            </div>
            <div class="modal-body" style="height: 200px; ">
                <form>
                    <div class="form-group">
                        <p >Ingrese su corrreo </p>
                        <input type="email" class="form-control" ng-model="recuperarContrasena.email"  />
                    </div>

                    
                    <button type="button" class="btn btn-default btn-danger" style="float:right" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success  btn-default btn-left" type="submit" style="float:right; margin-right:1%"  ng-click="ConsultarCorreo()">Aceptar</button>
                </form>
            </div>
       
            
        </div>
    </div>
</div>
<script src="scripts/codigoMenu.js"></script>
<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
