﻿<style>
    ::-webkit-scrollbar-track {
        background-color: rgba(35, 130, 118, -0.4);
    }
</style>

<div id="demo6">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QA6eLUTgAFE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>


<div id="audioWrap" style="position: fixed; display:none;"></div>

<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle2" />
    <label id="menuToggle" for="toggle2">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">
        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <!--<li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" style="font-size:22px;"></a></li>-->
        <!--<li><a class="fa fa-file button demo-btn demo5 menuAyuda" title="Leer ayuda" data-svg-popup="demo5" style="font-size:22px;"></a></li>-->
        <li><a class="fa fa-video-camera button demo-btn demo6 menuAyuda" title="Ver ayuda" data-svg-popup="demo6" style="font-size:22px;"></a></li>
        <!--<li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="audio" style="font-size:22px;"></a></li>-->

    </menu>
</nav>

<div id="proyecto" style="margin-left:1%; z-index:5;">
    <button id="proyectos" title="Mis proyectos">Mis proyectos</button><br /><br />

    <div id="misProyectos" style="height:400px; width:16%; background:rgba(35, 130, 118, 0.4); position:absolute; margin-left:1%; display:none; margin-top:6.2%; z-index:9999; overflow-y:auto">
        <h3 style="text-align:center; color:white; font-weight:600;">Mis proyectos</h3>

        <a ng-click="CrearProyecto()" style="text-align:center; color:white; cursor:pointer; ">
            <h3 id="nuevoProyecto">Nuevo proyecto <i style="margin-top:2%;" id="iconoNuevoProyecto" class="fa fa-plus"></i></h3>
        </a><br />

        <div ng-repeat="proyectos in Proyectos" class="col-lg-12" >
            
            <div id="proyectosNom" class="col-lg-11" ng-click="AbrirProyecto(proyectos.IdProyecto)">
                <p>
                    <div id="btnEliminarProyect" class="fa fa-close col-lg-1" style="margin-right:-3%; width:15%;float:right; font-size:20px;" title="Eliminar Proyecto" ng-click="borrarProyecto()">
                        
                    </div>
                    {{proyectos.TemaProyecto | uppercase}}
                   
                </p>
            </div>
           
                <!--<a style="color:white; font-weight:600; margin-left:5%;  cursor:pointer; " ng-click="AbrirProyecto(proyectos.IdProyecto)" value="{{proyectos.IdProyecto}}">
                    <i>-</i>
                    {{proyectos.TemaProyecto | uppercase}}
                </a>-->
          

            <br />
        </div>
    </div>

</div>



<div id="contenedor">
    <center><img id="logoMenu" src="../images/logo.png" /></center>

    <section class="secciones">
        <ul id="menu">
            <li class="campo ">
                <div class="circulos "  id="circuloUno" ng-click="DatosBasicos()">
                    <img class="iconos" value="1" title="Datos Básicos" id="iconoUno" src="images/datosBasicos.png">
                </div>
            </li>

            <li class="campo">
                <img class="flechas" id="flechaUno" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos " id="circuloDos" ng-click="Matriz()">
                    <img class="iconos" value="1" title="Matriz de Vester" id="iconoDos" src="images/lluviaIdeas.png" style="top:10%;">
                </div>
            </li>

            <li class="campo">             
                <img class="flechas" id="flechaDos" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloTres" ng-click="Arbol()">
                    <img class="iconos" id="iconoTres" title="Árbol de problemas" value="1" src="images/arbolProb.png" style="top:10%">
                </div>
            </li>


            <li class="campo">            
                <img class="flechas" id="flechaTres" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloCuatro" ng-click="ArbolObjetivos()">
                    <img class="iconos" id="iconoCuatro" title="Árbol de objetivos" value="1" src="images/arbol.png" style="top:10%">
                </div>
            </li>

            <li class="campo">
                <img class="flechas" id="flechaCuatro" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloCinco" ng-click="Involucrados()">
                    <img class="iconos" id="iconoCinco" title="Matriz de involucrados" value="1" src="images/perfil.png" style="top:10%">
                </div>
            </li>

            <li class="campo">
                <img class="flechas" id="flechaCinco" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloSeis" ng-click="Perfil()">
                    <img class="iconos" id="iconoSeis" value="1" title="Nombre de proyecto" src="images/grafica.png" style="top:10%">
                </div>
            </li>

            <li class="campo">
                <img class="flechas" id="flechaSeis" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloSiete" ng-click="Cronograma()">
                    <img class="iconos" id="iconoSiete" value="1" title="Cronograma y presupuesto" src="images/calendario.png" style="top:10%">
                </div>
            </li>

            <li class="campo">
                <img class="flechas" id="flechaSiete" src="images/flechaUno.png">
            </li>

            <li class="campo">
                <div class="circulos" id="circuloOcho" ng-click="MarcoLogico()">
                    <img class="iconos" id="iconoOcho" title="Matriz de Marco Lógico" value="1" src="images/matriz.png" style="top:10%">
                </div>
            </li>

        </ul>
    </section>

    <div id="nombreProyectoMenu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:5vh;">
        <br /><p style="font-size:30px; font-weight:600; text-align:center; text-transform:uppercase; color:#238276;">{{nombreProyecto}}</p>
    </div>

</div>

<script src="../scripts/AnimacionTextoVideoAudio.js"></script>