﻿<div class="container-fluid" style="height: auto; margin-top:-10%;">

    <div class="container" style="background-color:rgba(192,192,192,0.15);">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
            <h1 class="titulovistaObjetivos">Nombre del proyecto</h1>
        </div>

        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: 50vh;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh;"><p class="textos">SUGERENCIA DE NOMBRE</p></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;">
                <select class="form-control"></select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;">
                <select class="form-control"></select>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh;"></div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh;"><p class="textos">NOMBRE DEL PROYECTO</p></div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh;">
                <input class="form-control" type="text" />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh;"></div>


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;"><p class="textos">NOMBRE DEL ÁREA DE CONOCIMIENTO</p></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;"><p class="textos">NÚMERO DEL ÁREA DE CONOCIMIENTO</p></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;">
                <select class="form-control"></select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 6vh;">
                <select class="form-control"></select>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh;"></div>


        </div>


        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 50vh; background: #8196be">ICONO INFORMACIÓN</div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
            <h1 class="titulovistaObjetivos" style="margin-left:45%;">justificación</h1>
        </div>


        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: 40vh;">

            <textarea style="margin-left:50%; transform:translateX(-48%);" cols="90" rows="18"></textarea>

        </div>


        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 38vh; background: #8196be">ICONO INFORMACIÓN</div>

    </div>

</div>