﻿<div class="container-fluid" id="VistaObjetivos" style="height: auto; margin-top:-10%;">


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
        <h1 class="titulovistaObjetivos">Árbol de objetivos</h1>
    </div>
     


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
        <h1 class="titulovistaObjetivos">Objetivos</h1>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 60vh;">


        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: 47vh;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh;"><p class="textos">SUGERENCIA OBJETIVO GENERAL</p></div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 6vh;" >

                <select class="form-control">

                    <option>Establecer</option>
                    <option>Averiguar</option>
                    <option>Identificar</option>
                    <option>Recopilar</option>
                    <option>Investigar</option>
                    <option>Revelar</option>
                    <option>Descubrir</option>
                    <option>Indagar</option>
                    <option>Inquirir</option>
                    <option>Diseñar</option>
                    <option>Desarrollar</option>
                    <option>Analizar</option>
                    <option>Calcular</option>
                    <option>Categorizar</option>
                    <option>Comparar</option>
                    <option>Definir</option>
                    <option>Demostrar</option>
                    <option>Describir</option>
                    <option>Diagnosticar</option>
                    <option>Diseñar</option>
                    <option>Efectuar</option>
                    <option>Enumerar</option>
                    <option>Evaluar</option>
                    <option>Explicar</option>
                    <option>Examinar</option>
                    <option>Exponer</option>
                    <option>Formular</option>
                    <option>Fundamentar</option>
                    <option>Generar</option>
                    <option>Identificar</option>
                    <option>Ingerir</option>
                    <option>Mostrar</option>
                    <option>Orientar</option>
                    <option>Oponer</option>
                    <option>Reconstruir</option>
                    <option>Identificar</option>
                    <option>Ingerir</option>
                    <option>Mostrar</option>
                    <option>Orientar</option>
                    <option>Oponer</option>
                    <option>Reconstruir</option>
                    <option>Relatar</option>
                    <option>Replicar</option>
                    <option>Reproducir</option>
                    <option>Revelar</option>
                    <option>Planear</option>
                    <option>Presentar</option>
                    <option>Probar</option>
                    <option>Producir</option>
                    <option>Proponer</option>
                    <option>Situar</option>
                    <option>Tasar</option>
                    <option>Trazar</option>
                    <option>Valuar</option>
                </select>

            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="height: 6vh;">
                <input class="form-control" type="text" />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh"></div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh">
                <p class="textos">OBJETIVO GENERAL</p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh">
                <input class="form-control" />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh"></div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 6vh"><p class="textos">OBJETIVOS ESPECÍFICOS</p></div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 16vh;">

                <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control" name="msg">
                </div>



                <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control" name="msg">
                </div>



                <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control" name="msg">
                </div>
            </div>

        </div>



        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 47vh; background: #8196be">ICONO INFORMACIÓN</div>


    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
        <h1 class="titulovistaObjetivos">RESULTADOS OBJETIVOS</h1>
    </div>

    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: 60vh;">

        <table class="table table-bordered col-lg-10 col-md-12 col-sm-12 col-xs-12">

            <thead class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tr>

                    <th class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4" style="vertical-align:text-top;">Resultados esperados de cada uno de los objetivos específicos</th>
                    <th class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3" style="vertical-align:text-top;">¿Cómo va a medir los resultados?</th>
                    <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align:text-top;">¿Qué herramienta va a utilizar para medir los resultados?</th>
                </tr>
            </thead>

            <tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <tr>

                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <textarea style="width:100%;"></textarea><br />
                        <textarea style="width:100%;"></textarea><br />
                        <textarea style="width:100%;"></textarea><br />
                    </th>

                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                </tr>

                <tr>

                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>
                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                </tr>

                <tr>

                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>
                    <th>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                        <textarea style="width:100%;"></textarea>
                    </th>

                </tr>


            </tbody>
        </table>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 55vh; background: #8196be">ICONO INFORMACIÓN</div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">
        <h1 class="titulovistaObjetivos">PRODUCTO DE LOS RESULTADOS</h1>
    </div>

    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="height: 20vh;">
        <div class="input-group">
            <span class="input-group-addon">1</span>
            <input type="text" class="form-control" name="msg">
        </div>



        <div class="input-group">
            <span class="input-group-addon">2</span>
            <input type="text" class="form-control" name="msg">
        </div>



        <div class="input-group">
            <span class="input-group-addon">3</span>
            <input type="text" class="form-control" name="msg">
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height: 15vh; background: #8196be">ICONO INFORMACIÓN</div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 12vh; background: #363636">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height: 12vh; background: #fff">ICONO</div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 12vh; background: #000"></div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height: 12vh; background: #fff">ICONO</div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 12vh; background: #000"></div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height: 12vh; background: #fff">ICONO</div>

    </div>




</div>


