﻿<style>

    body{
        overflow-y:hidden;
    }

    #lineaUno{
        display:none;
    }

    #lineaDos{
        display:none;
    }

#container_toolbarContainer{
        background:#238276;
        color:white;
}

#container{
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:-10%;
}

</style>

<div id="container" ej-reportviewer e-reportserviceurl="reportServiceUrl" e-processingmode="remoteMode" e-isresponsive="true" e-reportpath="rdlReportPath" style="width:100%;height:100vh"></div>

 