﻿#lineaUno{
    display:none;
}

#lineaDos{
    display:none;
}

body{
    margin:0;
    padding:0;
    background:#fff;
    font-family: 'Open Sans', sans-serif;
 }

h3,h4,h5,h6{
    margin:0;   
font-family: 'Open Sans', sans-serif;
}

.ca-menu{
    padding:0;
    margin:20px auto;
}
ul.ca-menu li i {
    margin: 0 auto;
    font-size: 60px;
    color: #101010;
    text-shadow: 0px 0px 1px #333;
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ca-menu li {
    width: 345px;
    height: 276px;
    overflow: hidden;
    position: relative;
    float: left;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    border: 1px solid #e0e0e0;
}
.ca-menu li:nth-child(5){
    margin-right: 0px;
}
.ca-menu li a{
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}

.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 43%;
}
.ca-main {
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    color: #101010;
    text-shadow: 2px 2px 2px rgb(142, 144, 146);
	-webkit-text-shadow: 2px 2px 2px rgb(142, 144, 146);
	-o-text-shadow: 2px 2px 2px rgb(142, 144, 146);
	-moz-text-shadow: 2px 2px 2px rgb(142, 144, 146);
    font-weight: 600;
}
.ca-sub{
     text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    background: #000;
    letter-spacing: 1px;
}
.ca-sub{
  background:#238276;
}
.ca-sub.one{
  background:#238276;
}
.ca-sub.two{
  background:#238276;
}
.ca-sub.three{
  background:#53d769;
}
.ca-sub.four{
  background:#238276;
}
.ca-menu li:hover{
       background-color: #171717;
}
.ca-menu li:hover i{
    color: #fff;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main {
    color: #fff;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
    text-shadow: 5px 0px 7px #000;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    background: #238276;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
.ca-menu li:hover .ca-sub.one{
    background-color: #238276;
}
.ca-menu li:hover .ca-main.one{
	    color: #fff;
}
.ca-menu li:hover .ca-sub.two{
    background-color: #238276;
}
.ca-menu li:hover .ca-main.two{
	    color: #fff;
}
.ca-menu li:hover .ca-sub.thtee{
    background-color:#53d769;
}
.ca-menu li:hover .ca-main.thtee{
	    color: #53d769;
}
.ca-menu li:hover .ca-sub.four{
    background-color:#238276;
}
.ca-menu li:hover .ca-main.four{
	    color: #fff;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}



/*--Responsive--*/
@media (max-width:1680px){
	.ca-menu li {
		width: 300px;
		height: 276px;
		margin-right: 16px;
	}
}
@media (max-width:1600px){
	.ca-menu li{
		width: 290px;
		height: 276px;
		margin-right:9px;

	}

    #estadisticas{
    margin-top:50px;

}
     #estadisticas2{
    margin-top:100px;

}


}
@media (max-width:1440px){
	.ca-menu li {
		width: 258px;
		height: 276px;
	}

    #estadisticas{
    margin-top:50px;
}
    #estadisticas2{
    margin-top:100px;

}

}
@media (max-width:1366px){
	.ca-menu li {
		width: 243px;
		height: 276px;
		margin-right: 9px;
	}
	.ca-main {
       font-size: 27px;
	}
	ul.ca-menu li i {
      font-size: 44px;
	}

    #estadisticas{
    margin-top:80px;

}
    #estadisticas2{
    margin-top:120px;

}
}


@media (max-width:1360px){
    #estadisticas{
    margin-top:80px;
}
    #estadisticas2{
    margin-top:120px;

}
}

@media (max-width:1280px){
	.ca-menu li {
		width: 226px;
		height: 250px;
		margin-right: 9px;
	}
	.flip-clock-wrapper ul li a div div.inn {
		font-size:55px;
	}

    #estadisticas{
    margin-top:80px;
}
    #estadisticas2{
    margin-top:120px;

}

}
@media (max-width:1080px){
	.ca-menu li {
		width:304px;
		height: 276px;
		margin-right: 28px;
	}
	.ca-menu li:nth-child(3) {
		margin-right:0;
	}
	.ca-menu li:nth-child(4),.ca-menu li:nth-child(5) {
	    margin-top: 2em;
	}
	.flip-clock-wrapper ul li a div div.inn {
		font-size: 51px;
	}
	
}
@media (max-width:1050px){
	.ca-menu li {
		width: 294px;
		height: 276px;
		margin-right: 28px;
	}
}
@media (max-width:1024px){
	.ca-menu li {
		width: 285px;
		height: 276px;
		margin-right: 28px;
	}
}
@media (max-width:991px){
	.ca-menu li {
		width: 281px;
		height: 276px;
		margin-right: 18px;
	}
}
@media (max-width:800px){
	.ca-menu li {
		width: 224px;
		height: 276px;
		margin-right: 7px;
	}
	.ca-menu li:nth-child(4), .ca-menu li:nth-child(5) {
		margin-top: 0.8em;
	}
}
@media (max-width:1024px){
	.ca-menu li {
		width: 231px;
		height: 238px;
		margin-right: 9px;
	}

#estadisticas{
    margin-top:50px;
}
#estadisticas2{
    margin-top:120px;

}
}
