*{
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
  --subtitulos: black;
  --borde: 0.5px solid black;
  --boton: rgb(89, 181, 72);
  --bloque: rgba(89, 181, 72, 0.7);
  --alerta:  rgba(35, 130, 118, 0.4);
  --letraAlerta: #444444;
}

.btn{
  padding: 7px 15px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.9;
}

#alerta{
  position: fixed;
  top: -25%;
  right: 5%;
  z-index: 1001;
  width: auto;
  height: auto;
  padding: 20px;
  background: var(--alerta);
  color: var(--letraAlerta);
  border-radius: 5px;
  border: 2px solid #444444;
  transition: all 1s;
}


#modal{
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 1001;
  display: none;
}

.contenidoModal{
  position: relative;
  display: block;
  margin: 15vh auto;
  width: 500px;
  height: auto;
  background: white;
  border-radius: 10px;
  padding: 2.5%;
  display: none;
}

#crearProblemaCentral{
  text-align: center;
}

#crearProblemaCentral h2{
  color: var(--subtitulos);
  padding: 10px 0;
}

#crearProblemaCentral p{
  font-size: 14px;
  color: gray;
  text-align: left;
  margin-top: 10px;
}

#crearProblemaCentral textarea{
  width: 50%;
  height: 100px;
  border: var(--borde);
  resize: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

#btnProblemaCentral{
  position: relative;
  display: block;
  background: var(--boton);
  color: white;
  margin: auto;
  margin-top: 30px;
}

/*PANEL ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#mostrarPanel{
  position: fixed;
  left: 1%;
  top: 0;
  width: 150px;
  height:30px;
  z-index: 901;
  text-align: center;
  background: rgba(35, 130, 118, 0.3);
  border: 1px solid black;
  cursor: pointer;
}

#textoPanel{
    font-size:18px;
}



#mostrarPanel h6{
  line-height: 3px;
}

#mostrarPanel:hover{
  opacity: 0.9;
}

#panel{
  position: fixed;
  left: 1%;
  top: 30px;
  padding: 30px 5px;
  width: 150px;
  height: auto;
  background: rgba(35, 130, 118, 0.3);
  border: 1px solid black;
  z-index: 900;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 1s;
}

#panel h4{
  text-align: center;
  color: var(--subtitulos);
}

#elemento{
  margin: 15px 0;
}

#indirecta{
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}

#indirecta h5{
  text-align: center;
  color: var(--subtitulos);
}

#asignarIndirecta{
  width: 100%;
  margin: 15px 0;
}

#btnCrear{
  position: relative;
  display: block;
  margin: 15px auto 0 auto;
  background: var(--boton);
  color: white;
}

/*#guardar{
  position: fixed;
  top: 0;
  left: 12%;
  cursor: pointer;
  background: #5cb85c;
  padding:2px;
  z-index: 901;
  border: 1px solid black;
  font-weight:300;
  color:white;
  border-radius:10%;
}

#guardar:hover{
  opacity: 0.9;
}

#guardarTexto{
    margin-top:9%;
}*/


.borrarElemento{
    margin-top:-3%;
    margin-right:3%;
}

/*ARBOL ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#arbolContenedor{
  position: relative;
  width: 80%;
  min-height: 100vh;
  margin-left:10%;
}

#imgEfecto{
  transform: rotateZ(180deg);
  margin-top: -2%;
}

.img3{
  height: auto;
  text-align: center;
}

#imgEfecto3 img{
  transform: rotateZ(180deg);
}

#imgEfecto3 img{
    margin-top: -2px;
}

#imgCausa3 img{
    margin-top:-100px;
}

.img2{
  position: relative;
  width: 100%;
  margin-top: -2%;
}

.nivel3,.nivel2,.nivel1, .nivelIndirectos{
  position: relative;
  display: block;
  min-width: 100%;
  height: 140px;
  text-align: center;
}

.nivel2 li,.nivel3 li, .nivelIndirectos li{
  position: relative;
  display: inline-block;
  height: 140px;
  text-align: center;
}

.bloque2{
  position: relative;
  display: inline-block;
  /*float: left;*/
  margin: 0 2px;
  width: calc(100% / 3 - 10px);
  height: 100%;
  background: var(--bloque);
  border-radius: 15px;
}

.bloque{
  position: relative;
  display: block;
  margin: auto;
  width: 180px;
  height: 100px;
  background: var(--bloque);
  padding: 0px;
  padding-top: 8px;
  border-radius: 15px;
}

.bloque div:first-child{
  /*background: red;*/
}

.bloque div:first-child span{
  float: left;
  color: white;
}

.bloque div:first-child h6, .bloque2 h6{
  float: right;
  color: white;
  cursor: pointer;
}

.bloque2 h6{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  color: white;
  cursor: pointer;

}

.txtBloque{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  resize: none;
  padding: 5px;
  border-radius: 10px;
}

.txtBloque2{
  width: calc(100% - 10px);
  height: calc(80% - -3px);
  resize: none;
  padding: 0px;
  border-radius: 10px;
  margin-top: -9px;
  font-size:12px;
}

.txtBloque3{
    width: calc(83% - -15px);
    height: calc(87% - 2px);
    margin-top: 16px;
    resize: none;
    padding: 3px;
    font-size: 12px;
    border-radius: 10px;
}


.nivel3{
    margin-top:-53px;
}

.nivelIndirectos{
    margin-top: -102px;
}

@media (max-width: 1366px) and (min-width: 1361px) {

#guardar{
  position: fixed;
  left: 18%;

}

}

@media (max-width: 1366px) and (max-height: 768px) {

#guardar{
  position: fixed;
  left: 16%;

}

}


@media (max-width: 1280px) and (max-height: 960px) {

#guardar{
  position: fixed;
  left: 16%;

}

}


@media (max-width:1024px) {
#arbolContenedor{
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-left:0%;
  margin-top:-7%;
}


#panel{
  position: fixed;
  left: 1%;
  top: 30px;
  padding: 30px 5px;
  width: 90px;
  height: auto;
  background: rgba(35, 130, 118, 0.3);
  border: 1px solid black;
  z-index: 900;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 1s;
}

#mostrarPanel{
  position: fixed;
  left: 1%;
  top: 0;
  width: 90px;
  height:30px;
  z-index: 901;
  text-align: center;
  background: rgba(35, 130, 118, 0.3);
  border: 1px solid black;
  cursor: pointer;
}

.txtBloque2{
  width: calc(100% - 10px);
  height: calc(80% - -2px);
  resize: none;
  padding: 0px;
  border-radius: 10px;
  margin-top: -9px;
  font-size:10px;
}

.txtBloque3{
  width: calc(83% - -5px);
  height: calc(87% - 14px);
  margin-top: 26px;
  resize: none;
  padding: 2px;
  font-size:10px;
  border-radius: 10px;
}

#guardar{
  position: fixed;
  left: 15%;

}

}