﻿
body{
    overflow:auto;
    overflow-x:hidden;
}
textarea{
    resize:none;
    border:1px solid #ccc;
}

::-webkit-scrollbar {
      width: 12px;
}

::-webkit-scrollbar-track {
      background-color: white;
} 

::-webkit-scrollbar-thumb {
      background-color: #51aba6;
} 

#ayudaUno{
z-index:997;
}

#tablaResultados{
    margin-left:-20%;
}

#lineaDos{
    margin-top:77vh;
    position:fixed;
    margin-left:88%;
}


.titulovistaObjetivos{
    margin-top:3%;
    position:absolute; 
    margin-left:50%;
    transform:translate(-50%);
    font-weight:600;
}

.textos{
     font-weight:600;
     margin-top:1%;
}

#tablaResultados{
    margin-left:-20%;
}

#personajeDos{
    float:left; 
    margin-top:-15%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:1%; 
    width:7%;
}

#contenedorFormulario{
    width:690px;
    height:100vh;
    background-color:rgba(192,192,192,0.15); 
    position:absolute; 
    z-index:-2; 
    margin-left:31%; 
    margin-top:-10%; 
    overflow:hidden;
}

#datosGenerales{
    font-weight:600;
}


/*INICIA MATRIZ DE VESTER*/


#matrizVester{
    margin-top:4%;
    position:absolute; 
    margin-left:50%;
    transform:translate(-50%);
    font-weight:600;
}

.panel-body{
    width:1500px;
}

#problematicaCampo{
    margin-bottom:3%; 
    width:80%;
    margin-left:12%;
    margin-top:6%;
}

#problematicaCampoDos{
    margin-bottom:3%; 
    width:60%;
    margin-left:64%;
    margin-top:6%;
}

#botonGuardar{
    margin-left:6%; 
    margin-top:10%; 
    position:absolute;
}

#agregar_btn{
    margin-top:4%;
    margin-left:7%;
}

#compararBoton{
    margin-top: 6%; 
    margin-left:6%;
}

#Problematicas{
    margin-left:20%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-top:15%;
    margin-left:41%;
    transform:translateX(-50%);
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top: 80%;
    left: 33%;
}

@media (min-width: 1402px) and (max-width: 1440px) {

#grafica{
    margin-left: -16%;
    margin-top: -31%;
    }

#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:-2%; 
    width:7%;
}

}


@media (max-width: 1400px) and (min-width: 1367px) {
#grafica{
    margin-left: -18%;
    margin-top: -34%;
    }


#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:8%;
}

#btn_regresar{
    margin-left:-8%; 
    margin-top:5%; 
    width:7%;
}

}


@media (max-width: 1366px) and (min-width: 1361px) {
    #grafica{
    margin-left: -18%;
    margin-top: -30%;
    }

#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:-2%; 
    width:7%;
}

}


@media (max-width: 1360px) and (max-height: 1281px) {

#grafica{
    margin-left: -18%;
    margin-top: -30%;
    }

#personajeDos{
    float:left; 
    margin-top:-20%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:74%; 
    margin-top:0%; 
    width:7%;
}

}


@media (max-width: 1280px) and (max-height: 960px) {
#grafica{
    margin-left: -18%;
    margin-top: -29%;
    }

#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:10%;
}

#btn_regresar{
    margin-left:-9%; 
    margin-top:-50%; 
    width:7%;
}

}


@media (max-width: 1280px) and (min-width: 1153px) {

#grafica{
    margin-left: -18%;
    margin-top: -29%;
}

#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:75%; 
    margin-top:-3%; 
    width:7%;
}


}

@media(max-width:1152px) {
    #grafica{
    margin-left: -24%;
    margin-top: -39%;
}

#personajeDos{
    float:left; 
    margin-top:-22%;
    margin-left:75%; 
    width:6%;
}

#btn_regresar{
    margin-left:75%; 
    margin-top:-3%; 
    width:7%;
}


}


@media (max-width:1024px) {
   #grafica{
    margin-left: -29%;
    margin-top: -39%;
}

#personajeDos{
    float:left; 
    margin-top:-30%;
    margin-left:75%; 
    width:8%;
}

#btn_regresar{
    margin-left:75%; 
    margin-top:-3%; 
    width:7%;
}

}




/*FINALIZA MATRIZ DE VESTER*/

#proyectos{
    font-size: 1em;
    color: #fff;
    background: rgb(0, 135, 126);
    border: 3px solid #238276;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 16%;
    margin-left: 1%;
    margin-top:6%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    font-weight:600;
    z-index:8;
    position:absolute;
}

#proyectos:hover{
    background: transparent;
    border: 3px solid #16665a;
    color:#16665a;
    font-weight:600;
}



/*INICIA DATOS BASICOS*/

/*#contenedorFormulario{
    width:690px;
    height:103.5vh;
    background-color:rgba(192,192,192,0.15); 
    position:absolute; 
    z-index:-2; 
    margin-left:31%; 
    margin-top:-10%; 
    overflow:hidden;
}

#formulario{
    margin-top:-15%;
    margin-left:-10%;
}


#datosGenerales{
    margin-top:50%; 
    margin-left:20%;
    font-weight:600;
}

#formularioProyecto{
    margin-left:20%; 
    margin-top:10%;
    width:80%;

}*/

/*FINALIZA DATOS BASICOS*/


/*INICIA MATRIZ DE VESTER*/

/*.panel-body{
    width:1500px;
}

#problematicaCampo{
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 66%;
    width: 59%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-left:50%; 
    margin-top:11%;
}

#botonGuardar{
    margin-left:4%; 
    margin-top:0%; 
    width: 100px;
    position:absolute;
}

#compararBoton{
    margin-top: -6%; 
    margin-left:10%;
}

#problemaComparante{
    margin-left:16%; 
    margin-top:2.5%;
    position:absolute;
}

#problema{
    margin-top:27%; 
    position:absolute; 
    text-align:justify; 
    width: 110%;
    margin-left:-20%;
}

#problemaDos{
    margin-left:-10%;
}

#Calificar{
    margin-left:-20%; 
    margin-top:-2%;
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top: 469%;
    left: 37%;
}

#personaje{
    z-index:-1; 
    position:absolute; 
    margin-left:48%; 
    margin-top:13%; 
}*/

/*FINALIZA MATRIZ DE VESTER*/

/*INICIA OBJETIVOS*/

#ObjetivosTitulo{
    margin-left:50%;
    transform:translate(-50%);
    margin-top:15%;
    font-weight:600;
    font-size:34px;
   
}
#containerFormObjetivos{

    height:100vh;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);

       
}

#BotonInfo1{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:1%;
}
#BotonInfo2{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:11%;
}
#BotonInfo3{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:22%;
}
.infobasica{
    margin-top:5px;
    color:white;
    font-size:23px;
}

/*FINALIZA OBJETIVOS*/



/*INICIA RESULTADOS*/
    #containerFormResultados{

    height:100vh;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
  
}
#ResultadosTitulo{
    margin-left:50%;
    transform:translate(-50%);
    margin-top:5%;
    font-weight:600;
    font-size:34px;
   
}

#BotonInfoR{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:5%;
    margin-left:99%;
}

/*FINALIZA RESULTADOS*/

/*INICIA NOMBRE DE PROEYECTOS*/

#containerFormNombre{
    
    height:100%;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
  
}
#tituloNombre{
    margin-top:5%;
    font-weight:600;
}

#BotonInfoNom1{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:2.6%;
    margin-left:96%;
}
#BotonInfoNom2{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:16.5%;
    margin-left:96%;
}
#BotonInfoNom3{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:28%;
    margin-left:96%;
}
#BotonInfoNom4{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:47%;
    margin-left:86%;
}
/*FINALIZA NOMBRE DE PROYECTOS*/

/*INICIA INVOLUCRADOS*/


#containerFormInvolucrados{
   
    height:100%;
    background:rgba(192,192,192,0.15);
    margin-left:50%; 
    transform: translate(-50%);
   

}
#InvolucradosTitulo{
    margin-top:10%;
    font-weight:600;
}
.inputInvolucrados{
    margin-left:1%; 
    margin-top:4%;
    margin-bottom:5%;
    
}
.subtilulosInvolucrados{
    font-size:17px;
    font-weight:600;
}
    

/*FINALIZA INVLUCRADOS*/

/*INICIA PERFIL DEL PROYECTO*/
    #tituloPerfil{
        margin-top:10%;
        font-weight:600;
    }

    #metodologia{
        margin-left:1%;

    }




/*FINALIZA PERFIL DE PROEYCTO*/


/*INICIA MENÚ LISTA PROYECTOS*/

/*FINALIZA MENÚ LISTA PROYECTOS*/

@media (max-width: 1800px) and (min-width: 1599px){

#lineaDos{
    margin-top:73vh;
    margin-left:88%;
}

/*INICIA DATOS BASICOS*/

/*#contenedorFormulario{
    width:690px;
    height:105vh;
    background-color:rgba(192,192,192,0.15); 
    position:absolute; 
    z-index:-2; 
    margin-left:30%; 
    margin-top:-12%; 
    overflow:hidden;
}



#formulario{
    margin-top:-15%;
    margin-left:-10%;
}


#datosGenerales{
    margin-top:50%; 
    margin-left:20%;
    font-weight:600;
}*/




/*FINALIZA DATOS BASICOS*/


/*INICIA MATRIZ DE VESTER*/

/*#matrizVester{

    position:absolute; 
    margin-left:43%; 
    font-weight:600;
}

#problema{
    margin-top:27%; 
    position:absolute; 
    text-align:justify; 
    width: 110%;
    margin-left: -60%;
}

#problematicaCampo{
    margin-top:4%; 
    margin-bottom:3%; 
    margin-left:50%; 
    width:45%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-left:42%; 
    margin-top:11%;
}

#problemaDos{
    margin-left:-30%;
}

#Calificar{
    margin-left:43%; 
    margin-top:-4%;
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top:80%; 
    left:24%; 
}

#personaje{
    z-index:-1; 
    position:absolute; 
    margin-left:47%; 
    margin-top:14%;
    width:8%;
}*/
  

/*FINALIZA MATRIZ DE VESTER*/

/*INICIA OBJETIVOS*/



#BotonInfo1{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:1%;
}
#BotonInfo2{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:12%;
}
#BotonInfo3{
    position:absolute;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-align:center;
    margin-left:95%;
    margin-top:25%;
}


/*FINALIZA OBJETIVOS*/

/*INICIA NOMBRE PROYECTO*/
#BotonInfoNom1{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:2.5%;
    margin-left:96%;
}
#BotonInfoNom2{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:19.5%;
    margin-left:96%;
}
#BotonInfoNom3{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:31.5%;
    margin-left:96%;
}
#BotonInfoNom4{
    position:absolute;
    cursor:default;
    height:35px;
    width:35px;
    border-radius:100%;
    background:rgba(2,209,224,0.7);
    text-decoration-color:white;
    text-align:center;
    margin-top:51.5%;
    margin-left:86%;
}



/*FINALIZA NOMBRE PROYECTO*/


/*INICIA MENÚ LISTA PROYECTOS*/

/*FINALIZA MENÚ LISTA PROYECTOS*/



}


@media (max-width: 1600px) and (min-width: 1300px) {
    #lineaDos {
        margin-top: 78vh;
        margin-left: 88%;
    }

    /*/*INICIA DATOS BASICOS

    #contenedorFormulario {
        width: 660px;
        height: 103vh;
        background-color: rgba(192,192,192,0.15);
        position: absolute;
        z-index: -2;
        margin-left: 30%;
        margin-top: -11%;
        overflow: hidden;
    }

    #formulario {
        margin-top: -30%;
        margin-left: -10%;
    }


    #datosGenerales {
        margin-top: 50%;
        margin-left: 20%;
        font-weight: 600;
    }*/


    /*FINALIZA DATOS BASICOS*/


    /*INICIA MATRIZ DE VESTER*/

    /*#matrizVester{
    position:absolute; 
    margin-left:42%; 
    font-weight:600;
}

#problematicaCampo{
    margin-top:4%; 
    margin-bottom:3%; 
    margin-left:48%; 
    width:49%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-left:34%; 
    margin-top:11%;
}

#problemaDos{
    margin-left:-92%;
}

#problema{
    margin-top:44%; 
    position:absolute; 
    text-align:justify; 
    width: 110%;
    margin-left: -60%;
}

#Calificar{
    margin-left:100%; 
    margin-top:-82%;
}


#personaje{
    z-index:-1; 
    position:absolute; 
    margin-left:44%; 
    margin-top:16%;
    width:8%;
}*/


    /*FINALIZA MATRIZ DE VESTER*/
    /*INICIA OBJETIVOS*/


    #BotonInfo1 {
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-align: center;
        margin-left: 95%;
        margin-top: 1%;
    }

    #BotonInfo2 {
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-align: center;
        margin-left: 95%;
        margin-top: 19%;
    }

    #BotonInfo3 {
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-align: center;
        margin-left: 95%;
        margin-top: 35%;
    }


    /*FINALIZA OBJETIVOS*
    /*INICIA RESULTADOS*/

    #BotonInfoR {
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-decoration-color: white;
        text-align: center;
        margin-top: 4%;
        margin-left: 98%;
    }
    /*FINALIZA RESULTADOS*/


    /*INICIA NOMBRE PROYECTO*/

    #BotonInfoNom2 {
        position: absolute;
        cursor: default;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-decoration-color: white;
        text-align: center;
        margin-top: 20%;
        margin-left: 96%;
    }

    #BotonInfoNom3 {
        position: absolute;
        cursor: default;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-decoration-color: white;
        text-align: center;
        margin-top: 33.5%;
        margin-left: 96%;
    }

    #BotonInfoNom4 {
        position: absolute;
        cursor: default;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background: rgba(2,209,224,0.7);
        text-decoration-color: white;
        text-align: center;
        margin-top: 53.5%;
        margin-left: 86%;
    }



    /*FINALIZA NOMBRE PROYECTO*/


    /*INICIA PERFIL DEL PROYECTO*/


    /*FINALIZA PERFIL DEL PROYECTO*/

    /*INICIA MENÚ LISTA PROYECTOS*/

    /*FINALIZA MENÚ LISTA PROYECTOS*/


    @media (max-width: 1300px) and (min-width: 1198px) {

        #lineaDos {
            margin-top: 80vh;
            margin-left: 88%;
        }

        /*INICIA DATOS BASICOS*/

        /*#contenedorFormulario {
            width: 620px;
            height: 100vh;
            background-color: rgba(192,192,192,0.15);
            position: absolute;
            z-index: -2;
            margin-left: 28%;
            margin-top: -12%;
            overflow: hidden;
        }

        #formulario {
            margin-top: -30%;
            margin-left: -10%;
        }


        #datosGenerales {
            margin-top: 50%;
            margin-left: 20%;
            font-weight: 600;
        }*/

        /*FINALIZA DATOS BASICOS*/


        /*INICIA MATRIZ DE VESTER*/

        /*#matrizVester{ 
    position:absolute; 
    margin-left:38%; 
    font-weight:600;
}

#problematicaCampo{
    margin-top:4%; 
    margin-bottom:3%; 
    margin-left:35%; 
    width:49%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-left:26.4%; 
    margin-top:11%;
}

#agregarProblemas{
    margin-left:-11%;
}

#listaestibas{
    margin-left:-8%;
}

#compararBoton{
    margin-left:4.2%;
}


#problema{
    margin-top:47%; 
    position:absolute; 
    text-align:justify; 
    width: 110%;
    margin-left: -84%;
}

#problemaDos{
    margin-left:-111%;
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top:80%; 
    left:17%; 
}

#personaje{
    z-index:-1; 
    position:absolute; 
    margin-left:51%; 
    margin-top:25%;
    width:10%;
}*/

        /*FINALIZA MATRIZ DE VESTER*/
        /*INICIA OBJETIVOS*/


        #BotonInfo1 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 1%;
        }

        #BotonInfo2 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 20%;
        }

        #BotonInfo3 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 40%;
        }


        /*FINALIZA OBJETIVOS*/

        /*INICIA RESULTADOS*/

        #BotonInfoR {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 4%;
            margin-left: 97%;
        }
        /*FINALIZA RESULTADOS*/
        /*INICIA NOMBRE PROYECTO*/

        /*FINALIZA NOMBRE PROYECTO*/

        /*INICIA MENÚ LISTA PROYECTOS*/

        /*FINALIZA MENÚ LISTA PROYECTOS*/



    }



    @media (max-width: 1199px) and (min-width: 992px) {
        #lineaDos {
            margin-top: 83vh;
            margin-left: 88%;
        }

        #contenidoMenu {
            width: 68%;
            height: 68%;
            background: #4800ff;
            margin-left: 15%;
            border-radius: 100%;
            margin-top: 10%;
        }

        /*INICIA DATOS BASICOS


        #contenedorFormulario {
            width: 580px;
            height: 103vh;
            background-color: rgba(192,192,192,0.15);
            position: absolute;
            z-index: -2;
            margin-left: 20%;
            margin-top: -11%;
            overflow: hidden;
        }

        #formulario {
            margin-top: -40%;
            margin-left: -10%;
        }

        #formularioProyecto {
            margin-left: 25%;
            margin-top: 3%;
            width: 70%;
            height: 100%;
        }


        #datosGenerales {
            margin-top: 43%;
            margin-left: 20%;
            font-weight: 600;
        }


        /*FINALIZA DATOS BASICOS*/



        /*INICIA MATRIZ DE VESTER*/

        /*#matrizVester{
    position:absolute; 
    margin-left:53%; 
    font-weight:600;
}

#problematicaCampo{
    margin-top:6%; 
    margin-bottom:3%; 
    margin-left:25%; 
    width:49%;
}

#influeniciaTitulo{
    text-align:center; 
    position:absolute; 
    margin-left:19%; 
    margin-top:12.3%;
    font-size:20px;
}

#botonGuardar{
    margin-left:6%; 
    margin-top:5.5%; 
    position:absolute;
}

#agregarProblemas{
    margin-left:-15%;
}

#listaestibas{
    margin-left:-8%;
}

#compararBoton{
    margin-left:-1.8%;
}

#problema{
    margin-top: 62%;
    position: absolute;
    text-align: justify;
    margin-left: -40%;
    width: 110%;
}

#problemaDos{
    margin-left:-223%;
    margin-top:4%;
}

#grafica{
    width: 900px; 
    height: 500px; 
    position:absolute; 
    top:80%; 
    left:17%; 
}

#personaje{
    z-index:-1; 
    position:absolute; 
    margin-left:47%; 
    margin-top:22%;
    width:10%;
}*/

        /*FINALIZA MATRIZ DE VESTER*/

        /*INICIA OBJETIVOS*/



        #BotonInfo1 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 1%;
        }

        #BotonInfo2 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 22%;
        }

        #BotonInfo3 {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-align: center;
            margin-left: 95%;
            margin-top: 43%;
        }


        /*FINALIZA OBJETIVOS*/

        /*INICIA RESULTADOS*/

        #BotonInfoR {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 5%;
            margin-left: 97%;
        }
        /*FINALIZA RESULTADOS*/

        /*INICIA NOMBRE PROYECTO*/
        #BotonInfoNom1 {
            position: absolute;
            cursor: default;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 2.5%;
            margin-left: 96%;
        }

        #BotonInfoNom2 {
            position: absolute;
            cursor: default;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 24.5%;
            margin-left: 6%;
        }

        #BotonInfoNom3 {
            position: absolute;
            cursor: default;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 44%;
            margin-left: 96%;
        }

        #BotonInfoNom4 {
            position: absolute;
            cursor: default;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: rgba(2,209,224,0.7);
            text-decoration-color: white;
            text-align: center;
            margin-top: 66%;
            margin-left: 87%;
        }
 

        /*FINALIZA NOMBRE PROYECTO*/



        /*INICIA MENÚ LISTA PROYECTOS*/

        /*FINALIZA MENÚ LISTA PROYECTOS*/


