﻿    #menuAyuda {
        margin-top: 0%;
        margin-left: 95.5%;
        position: fixed;
        z-index: 300;
    }

    @media (max-width: 1366px) and (min-width: 1361px) {

        #menuAyuda {
            margin-top: 0%;
            margin-left: 95%;
            position: fixed;
            z-index: 300;
        }
    }


    @media (max-width: 1360px) and (max-height: 1281px) {

        #menuAyuda {
            margin-top: 0%;
            margin-left: 95%;
            position: fixed;
            z-index: 300;
        }
    }

    @media (max-width: 1280px) and (min-width: 1153px) {

        #menuAyuda {
            margin-top: 0%;
            margin-left: 94%;
            position: fixed;
            z-index: 300;
        }
    }

    @media(max-width:1152px) {

        #menuAyuda {
            margin-top: 0%;
            margin-left: 94%;
            position: fixed;
            z-index: 300;
        }
    }

    @media (max-width: 1024px) and (max-height: 768px) {

        #menuAyuda {
            margin-top: 0%;
            margin-left: 93%;
            position: fixed;
            z-index: 300;
        }
    }