﻿.lineaTab {
        margin-top: 12%;
        margin-left: -1%;
}

#menuAyudaCuatro{
        margin-top: -2%;
        margin-left: 80%;
        position: fixed;
        z-index: 300;
}

#menuAyudaCinco{
    margin-top: 0%;
    margin-left: 79.1%;
    position: fixed;
    z-index: 300;
}

@media (min-width: 1440px) and (max-width: 1600px) {

.lineaTab {
    margin-top: 12%;
    margin-left: -1%;
}

#menuAyudaCuatro{
    margin-top: -2.5%;
    margin-left: 81.5%;
    position: fixed;
    z-index: 300;
}

#menuAyudaCinco{
    margin-top: 0%;
    margin-left: 80.5%;
    position: fixed;
    z-index: 300;
}    

}

@media (min-width: 1402px) and (max-width: 1440px) {

#menuAyudaCuatro{
    margin-top: -2.5%;
    margin-left: 85%;
    position: fixed;
    z-index: 300;
}

.lineaTab {
    margin-top: 12%;
    margin-left: -0.5%;
}

#menuAyudaCinco{
    margin-top: 0%;
    margin-left: 83.8%;
    position: fixed;
    z-index: 300;
}

}


@media (max-width: 1366px) and (min-width: 1361px) {


.lineaTab {
    margin-top: 12%;
    margin-left: 0%;
}

#menuAyudaCuatro{
    margin-top:-3%;
    margin-left:87%;
    position:fixed;
    z-index:300;
}

#menuAyudaCinco{
    margin-top:0%;
    margin-left:85.8%;
    position:fixed;
    z-index:300;
}

}


@media (max-width: 1360px) and (max-height: 1281px) {

.lineaTab {
    margin-top: 12%;
    margin-left:-0.5%;
}

#menuAyudaCuatro{
    margin-top:-3%;
    margin-left:87.3%;
    position:fixed;
    z-index:300;
}

#menuAyudaCinco{
    margin-top: 0%;
    margin-left: 85.9%;
    position: fixed;
    z-index: 300;
}


}

@media (max-width: 1280px) and (min-width: 1153px) {

.lineaTab {
    margin-top: 18%;
    margin-left: 0%;
}

#menuAyudaCuatro{
    margin-top:-3%;
    margin-left:89.5%;
    position:fixed;
    z-index:300;
}

#menuAyudaCinco{
    margin-top: 0%;
    margin-left: 88.3%;
    position: fixed;
    z-index: 300;
}

}

@media(max-width:1152px) {

.lineaTab {
    margin-top: 15%;
    margin-left: 5%;
}

#menuAyuda{
    margin-top:0%;
    margin-left:94%;
    position:fixed;
    z-index:300;
}

#menuAyudaCuatro{
    margin-top: -2.5%;
    margin-left: 85.5%;
    position: fixed;
    z-index: 300;
}  

#menuAyudaCinco{
    margin-top: -0.5%;
    margin-left: 84.1%;
    position: fixed;
    z-index: 300;
}     

}

@media (max-width: 1024px) and (max-height: 768px) {

.lineaTab {
    margin-top: 13%;
    margin-left: 5%;
}

#menuAyuda{
    margin-top:0%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}    

#menuAyudaCuatro{
    margin-top: -3.5%;
    margin-left: 90%;
    position: fixed;
    z-index: 300;
} 
 
#menuAyudaCinco{
    margin-top: -0.5%;
    margin-left: 88%;
    position: fixed;
    z-index: 300;
} 

}
