﻿    #lineaUno{
        display:none;
    }

    #lineaDos{
        display:none;
    }

#menuAyuda {
        margin-top: -7%;
        margin-left: 95.2%;
        position: fixed;
        z-index: 300;
    }

#guardar{
    margin-top:-9%;
    margin-left:59%;
}  


#tipsArbolProblema{
    margin-top:-7%;
    margin-left:12%;
}


@media (min-width: 1402px) and (max-width: 1440px) {

#menuAyuda{
    margin-top:-6.5%;
    margin-left:94.5%;
    position:fixed;
    z-index:300;
} 

#guardar{
    margin-top:-11%;
    margin-left:61%;
}  

#tipsArbolProblema{
    margin-top:-6.2%;
    margin-left:12%;
}

}


@media (max-width: 1366px) and (min-width: 1361px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#guardar{
    margin-top:-11%;
    margin-left:61%;
}  

#tipsArbolProblema{
    margin-top:-6%;
    margin-left:12%;
}

}


@media (max-width: 1360px) and (max-height: 1281px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#guardar{
    margin-top:-11%;
    margin-left:61%;
}  

#tipsArbolProblema{
    margin-top:-6%;
    margin-left:12%;
}
  
}

@media (max-width: 1280px) and (min-width: 1153px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#guardar{
    margin-top:-12%;
    margin-left:61%;
}  

#tipsArbolProblema{
    margin-top:-5.5%;
    margin-left:12%;
}

}

@media(max-width:1152px) {

#menuAyuda{
    margin-top:-5.3%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#guardar{
    margin-top:-14%;
    margin-left:61%;
}    

#tipsArbolProblema{
    margin-top:-5.5%;
    margin-left:14%;
}

}

@media (max-width: 1024px) and (max-height: 768px) {

#menuAyuda{
    margin-top:-3%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}   

#guardar{
    margin-top:-12%;
    margin-left:61%;
} 

#tipsArbolProblema{
    margin-top:-3%;
    margin-left:14%;
}
  
}
