﻿    #lineaUno {
        display: none;
    }

    #lineaDos {
        display: none;
    }

    textarea .txtBloque2 {
        font-size: 80px;
    }


#menuAyuda{
    margin-top:-7.4%;
    margin-left:95.2%;
    position:fixed;
    z-index:300;
} 

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 95%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 95%;
    position: fixed;
    z-index: 300;
} 

#guardar{
    margin-top:-9%;
    margin-left:59%;
}

#tipArbolObjetivos{
    margin-top:-9%;
    margin-left:38%;
}

.lineaTab{
    margin-top:12%;
    margin-left:5%;
} 

@media (min-width: 1440px) and (max-width: 1600px) {

#menuAyuda{
    margin-top:-6.8%;
    margin-left:95%;
    position:fixed;
    z-index:300;
} 


#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 94.5%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 94.5%;
    position: fixed;
    z-index: 300;
}

#guardar{
    margin-top:-10%;
    margin-left:60%;
} 

#tipArbolObjetivos{
    margin-top:-10%;
    margin-left:38%;
} 


.lineaTab{
    margin-top:12%;
    margin-left:5%;
}

}

@media (min-width: 1402px) and (max-width: 1440px) {

#menuAyuda{
    margin-top:-6.5%;
    margin-left:94.5%;
    position:fixed;
    z-index:300;
} 


#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#guardar{
    margin-top:-11%;
    margin-left:61%;
}  

#tipArbolObjetivos{
    margin-top:-11%;
    margin-left:38%;
}  

.lineaTab{
    margin-top:12%;
    margin-left:5%;
}

}


@media (max-width: 1366px) and (min-width: 1361px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#guardar{
    margin-top:-11%;
    margin-left:61%;
} 


#tipArbolObjetivos{
    margin-top:-11%;
    margin-left:37%;
} 

.lineaTab{
    margin-top:12%;
    margin-left:5%;
} 

}


@media (max-width: 1360px) and (max-height: 1281px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 94%;
    position: fixed;
    z-index: 300;
}

#guardar{
    margin-top:-11%;
    margin-left:61%;
} 

#tipArbolObjetivos{
    margin-top:-11%;
    margin-left:38%;
}  

.lineaTab{
    margin-top:12%;
    margin-left:5%;
}
  
}

@media (max-width: 1280px) and (min-width: 1153px) {

#menuAyuda{
    margin-top:-6%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 93.5%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 93.5%;
    position: fixed;
    z-index: 300;
}


#guardar{
    margin-top:-12%;
    margin-left:61%;
}  

#tipArbolObjetivos{
    margin-top:-11%;
    margin-left:36%;
}  

.lineaTab{
    margin-top:15%;
    margin-left:5%;
}

}

@media(max-width:1152px) {

#menuAyuda{
    margin-top:-5.3%;
    margin-left:94%;
    position:fixed;
    z-index:300;
} 

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 92.5%;
    position: fixed;
    z-index: 300;
}

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 92.5%;
    position: fixed;
    z-index: 300;
}

#guardar{
    margin-top:-14%;
    margin-left:61%;
}    

#tipArbolObjetivos{
    margin-top:-13%;
    margin-left:35%;
}    

.lineaTab{
    margin-top:15%;
    margin-left:5%;
}

}

@media (max-width: 1024px) and (max-height: 768px) {

#menuAyuda{
    margin-top:-3%;
    margin-left:93%;
    position:fixed;
    z-index:300;
}   

#menuAyudaDos{
    margin-top: -0.3%;
    margin-left: 92%;
    position: fixed;
    z-index: 300;
} 

#menuAyudaTres{
    margin-top: -0.3%;
    margin-left: 92%;
    position: fixed;
    z-index: 300;
} 


#guardar{
    margin-top:-12%;
    margin-left:61%;
}

#tipArbolObjetivos{
    margin-top:-11%;
    margin-left:36%;
} 

.lineaTab{
    margin-top:15%;
    margin-left:5%;
}
  
}
