﻿input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



input[type=number] {
    -moz-appearance: textfield;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 79.8%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 79%;
    position: fixed;
    z-index: 300;
}


.lineaTab {
        margin-top: 12%;
        margin-left: -1%;
}


@media (min-width: 1440px) and (max-width: 1600px) {

.lineaTab {
    margin-top: 12%;
    margin-left: -1%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 81.3%;
    position: fixed;
    z-index: 300;
}
    
#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 80.5%;
    position: fixed;
    z-index: 300;
}

}

@media (min-width: 1402px) and (max-width: 1440px) {

.lineaTab {
    margin-top: 12%;
    margin-left: -0.5%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 84.5%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 83.5%;
    position: fixed;
    z-index: 300;
}

}

@media (max-width: 1366px) and (min-width: 1361px) {

.lineaTab {
    margin-top: 12%;
    margin-left: 0%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 86.8%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 85.5%;
    position: fixed;
    z-index: 300;
}


}

@media (max-width: 1360px) and (max-height: 1281px) {


.lineaTab {
    margin-top: 12%;
    margin-left:-0.5%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 87%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 85.7%;
    position: fixed;
    z-index: 300;
}



}

@media (max-width: 1280px) and (min-width: 1153px) {



.lineaTab {
    margin-top: 15%;
    margin-left: 0%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 89%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 87.8%;
    position: fixed;
    z-index: 300;
}

}


@media(max-width:1152px) {


.lineaTab {
    margin-top: 15%;
    margin-left: 5%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 84.6%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 83.5%;
    position: fixed;
    z-index: 300;
}

}


@media (max-width: 1024px) and (max-height: 768px) {

.lineaTab {
    margin-top: 13%;
    margin-left: 5%;
}

#menuAyudaSeis{
    margin-top: 0%;
    margin-left: 89%;
    position: fixed;
    z-index: 300;
}

#menuAyudaSiete{
    margin-top: 0%;
    margin-left: 87.5%;
    position: fixed;
    z-index: 300;
}

}