
.login-head {
    margin-bottom: 2em;
}
.message.warning {
    -webkit-box-shadow: 0px 15px 19px 0px rgba(48,55,102,0.62);
    -moz-box-shadow: 0px 15px 19px 0px rgba(48,55,102,0.62);
    box-shadow: 0px 15px 19px 0px rgba(48,55,102,0.62);
    margin: 3% auto 0;
    width: 51.3%;
}
.inset input[type="text"],.inset input[type="password"],.inset input[type="email"] {
    outline: none;
    font-size: 1em;
    color: #000;
    padding: .8em 1em;
    margin: 0;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    display: block;
        background:#fff;
}
.inset p,.inset h2 {
    font-size: 14px;
    color: #fff;
    margin: 18px 0 5px;
}
.inset a {
   font-size: 15px;
    color: #eb5424;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.inset a:hover {
	text-decoration:underline;
}
.right-section-w3ls {
    width: 39%;
    float: left;
    background: url(../images/side.jpg)no-repeat;
    background-size: cover;
    padding: 20px;
    min-height: 496px;
}
/*-- checkbox --*/
.inset input[type="checkbox"] {
    display: none;
}
.inset input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.8em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: -webkit-inline-box;
    margin: 1.5em 0;
}
.inset input[type="checkbox"]+label span:first-child {
    width: 14px;
    height: 14px;
    border: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
	top: 3px;
}
.inset input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
/*-- //checkbox --*/
.inset input[type="submit"] {
    font-size: 1em;
    color: #fff;
	background: transparent;
    border: 3px solid #238276;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
	margin: 2em 0 0;
	    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.inset input[type="submit"]:hover {
    background: rgb(0, 135, 126);
    border: 3px solid #16665a;


}
/*-- main --*/
.main {
    padding: 2em 0 0;
}
/*-- checkbox --*/
.login-agileits-top input[type="checkbox"] {
    display: none;
}
.login-agileits-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.8em;
	letter-spacing: .5px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 2em 0 0;
}
.login-agileits-top input[type="checkbox"]+label span:first-child {
    width: 16px;
    height: 16px;
    background: #f44b89;
    border: 2px solid #C8C8C8;
    border: none;
    position: absolute;
    left: 0;
    top: 5px;
}
.login-agileits-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 8px;
    width: 10px;
    height: 10px;
}
/*-- //checkbox --*/

.login-form input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #fc636b;
    /* border: 3px solid #20161A; */
    border: none;
    font-weight: bold;
    letter-spacing: .5px;
    outline: none;
    cursor: pointer;
    padding: 0.6em 4em;
    margin-top: 2em;
    display: block;
    -webkit-appearance: none;
    /* width: 100%; */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 50px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Roboto Condensed', sans-serif;
}
.login-form input[type="submit"]:hover {
      background: #336dd4;
    color: #F4F5F7;
    border-color: #336dd4;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	
}
.login-agileits-bottom {
    text-align: center;
}
.login-agileits-bottom h2 {
    margin-bottom: 0;
}
.login-agileits-bottom h2 a {
    color: #6A8186;
    transition: .5s all;
    margin-top: 3em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}
.login-agileits-bottom h2 a:hover {
    color: #fff;
}
/*-- //main --*/
/*-- SAP --*/
.sap_tabs, .w3ls-tabs {
    clear: both;
    padding: 3em;
    opacity: initial;
       background-color: rgba(3, 4, 4, 0.6);
	width: 81%;
    float: left;
    height: auto;
    margin-left:20%;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    text-align: left;
    margin-bottom: 2em;
}
.resp-tab-item {
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    opacity: .5; 
}
.resp-tab-active {
    text-shadow: none;
    color: #fff;
    opacity: 1;
    border-color: #fff;
}
.resp-tab-item span {
    border-bottom: 3px solid transparent;
	padding: 0 3px 0.4em;
    text-transform: capitalize;
}
.resp-tab-active span {
    border-bottom-color: #238276;
}
.resp-tabs-container {
    padding: 0px;
    background: none;
    clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.resp-tab-item label {
    margin: 0 0.6em;
    font-size: 1.2em;
    vertical-align: middle;
}
/*-- //SAP --*/
/*--alert-close--*/
.message {
	position: relative;
}
.alert-close {
	background: #f44b89  url('../images/into.png') no-repeat 22px 21px;
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: -19px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 60px;
    height: 60px;
}
/*--//alert-close--*/
/*--/copy-right--*/
.copy-right {
    text-align: center;
    margin: 38px 0;
}
.copy-right p {
	  color: #fff;
	font-size:0.9em;
	font-weight:400;
	letter-spacing:1px;
}
.copy-right p a {
	    color: #f44b89;
		-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.copy-right p a:hover {
	color:#fff;
	-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#ingresar {
    font-size: 1em;
    color: #fff;
    background: transparent;
    border: 3px solid #238276;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

#ingresar:hover{
    background: rgb(0, 135, 126);
    border: 3px solid #16665a;
}

.registro{
    font-size: 1em;
    color: #fff;
    background: transparent;
    border: 3px solid #238276;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.registro:hover{
    background: rgb(0, 135, 126);
    border: 3px solid #16665a;
}

/*--/responsive--*/
@media (max-width:1600px){
	.message.warning {
		width: 54%;
	}
}
@media(max-width:1440px){
	.message.warning {
		width: 60%;
	}
}
@media(max-width:1366px){
	.inset input[type="text"],.inset input[type="password"],.inset input[type="email"] {
		width: 91.3%;
	}
	.right-section-w3ls {
		width: 38.2%;
	}
	body h1 {
		font-size: 2.4em;
		margin: 1.3em 0 .9em 0;
	}
}
@media(max-width:1280px){
	.message.warning {
		width: 64.4%;
	}
}
@media(max-width:1080px){
	.sap_tabs, .w3ls-tabs {
		padding: 2.5em;
		width: 46%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 90.7%;
	}
	.message.warning {
		width: 71.6%;
	}
	.right-section-w3ls {
		min-height: 480px;
	}
	body h1 {
		font-size: 2.1em;
	}
}
@media(max-width:1050px){
	.right-section-w3ls {
		width: 37.7%;
		min-height: 445px;
	}
	.alert-close {
		background: #fc636b url(../images/into.png) no-repeat 17px 17px;
		right: -15px;
		top: -19px;
		width: 50px;
		height: 50px;
	}
	.inset input[type="submit"] {
		font-size: 14px;
		margin: 1.5em 0 0em;
	}
	.resp-tab-item {
		font-size: 1.2em;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		font-size: 15px;
		padding: .7em 1em;
	}
	.inset p,.inset h2 {
		font-size: 13px;
	}
	.login-agileits-top input[type="checkbox"]+label {
		font-size: 14px;
	}
	.login-agileits-top input[type="checkbox"]+label span:first-child {
		top: 2px;
	}
	.sap_tabs, .w3ls-tabs {
		height: auto;
	}
	.copy-right p {
		font-size: 14px;
	}
}
@media(max-width:1024px){
	.message.warning {
		width: 73.4%;
	}
	body h1 {
		font-size: 2em;
		margin: 1.4em 0 .7em 0;
	}
	.copy-right {
		margin: 26px 0;
	}
	.sap_tabs, .w3ls-tabs {
		padding: 2.5em;
		width: 46%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 91.4%;
	}
}
@media(max-width:991px){
	.message.warning {
		width: 77%;
	}
	body h1 {
		margin: 1.2em 0 .7em 0;
	}
	.copy-right {
		margin: 30px 0;
	}
}
@media(max-width:900px){
	.message.warning {
		width: 80%;
	}
	.sap_tabs, .w3ls-tabs {
		width: 45%;
	}
	.right-section-w3ls {
		width: 38.01%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 90.6%;
	}
}
@media(max-width:800px){
	.sap_tabs, .w3ls-tabs {
		padding: 2.1em;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 89.6%;
	}
	.right-section-w3ls {
		width: 37.86%;
		min-height: 433px;
	}
	.alert-close {
		background: #fc636b url(../images/into.png) no-repeat 12px 12px;
		right: -15px;
		top: -16px;
		width: 40px;
		height: 40px;
	}
	body h1 {
		margin: 1.2em 0 1em 0;
		font-size: 1.8em;
	}
	.resp-tab-item span {
		border-bottom: 2px solid transparent;
	}
	.resp-tab-active span {
		border-bottom-color: #fc636b;
	}
}
@media(max-width:768px){
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 89%;
	}
	.right-section-w3ls {
		width: 37%;
	}
	.right-section-w3ls {
		width: 38.3%;
		min-height: 432px;
	}
	.message.warning {
		width: 83.9%;
	}
	body h1 {
		margin: 3.2em 0 2em 0;
	}
	.copy-right {
		margin: 85px 0;
	}
	.sap_tabs, .w3ls-tabs {
		width: 44.5%;
	}
}
@media(max-width:767px){
	body h1 {
		margin: 1.2em 0 1em 0;
	}
	.copy-right {
		margin: 30px 0;
	}
	.right-section-w3ls {
		width: 37.95%;
		min-height: 433px;
	}
}
@media(max-width:736px){
	.right-section-w3ls {
		width: 37.2%;
	}
	.login-agileits-top input[type="checkbox"]+label {
		font-size: 13px;
	}
	.login-agileits-bottom h2 a {
		font-size: 11px;
	}
	.inset input[type="submit"] {
		font-size: 13px;
		margin: 1.8em 0 0em;
		padding: .55em 1em;
	}
	.resp-tab-item {
		font-size: 1.03em;
	}
	.sap_tabs, .w3ls-tabs {
		height: 390px;
	}
	.right-section-w3ls {
		min-height: 418px;
	}
}
@media(max-width:667px){
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 87.5%;
	}
	.right-section-w3ls {
		width: 35.33%;
		min-height: 417px;
	}
	.copy-right p {
		font-size: 13px;
	}
	body h1 {
		margin: 1.5em 0 1.3em 0;
		font-size: 1.5em;
	}
}
@media(max-width:640px){
	.right-section-w3ls {
		width: 34.46%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 87.3%;
	}
	.copy-right {
		margin: 25px 20px;
	}
	.copy-right p {
		line-height: 30px;
	}
}
@media(max-width:600px){
	.message.warning {
		width: 67%;
	}
	.sap_tabs, .w3ls-tabs {
		padding: 2.09em;
		width: 83%;
		float:none;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 90.7%;
	}
	.right-section-w3ls {
		width: 89.69%;
		min-height: 170px;
		float: none;
		background: url(../images/side.jpg)no-repeat 0px -293px;
		background-size: cover;
	}
}
@media(max-width:568px){
	.message.warning {
		width: 71%;
	}
	body h1 {
		margin: 1.5em 0 1.3em 0;
		font-size: 1.4em;
		letter-spacing: 2.5px;
	}
}
@media(max-width:480px){
	.message.warning {
		width: 72%;
	}
	.sap_tabs, .w3ls-tabs {
		width: 80%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 88.9%;
	}
	.right-section-w3ls {
		width: 87.8%;
		min-height: 170px;
	}
	body h1 {
		margin: 1.8em 0 1.55em 0;
		font-size: 1.2em;
		letter-spacing: 2.1px;
	}
}
@media(max-width:414px){
	body h1 {
		margin: 2.5em 0 2em 0;
		font-size: 1.1em;
		letter-spacing: 2px;
	}
	.message.warning {
		width: 77%;
	}
	.sap_tabs, .w3ls-tabs {
		width: 78%;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 87.7%;
	}
	.right-section-w3ls {
		width: 86.7%;
		min-height: 150px;
		background: url(../images/side.jpg)no-repeat 0px -216px;
		background-size: cover;
	}
}
@media(max-width:384px){
	body h1 {
		margin: 2em 1em 1em;
		line-height: 37px;
		letter-spacing: 2px;
	}
	.sap_tabs, .w3ls-tabs {
		width: 79.6%;
		padding: 1.8em;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 86.7%;
	}
	.right-section-w3ls {
		width: 85.75%;
	}
	.resp-tabs-list {
		margin-bottom: 1.5em;
	}
}
@media(max-width:375px){
	.message.warning {
		width: 79%;
	}
	.copy-right p {
		letter-spacing: .5px;
	}
	.sap_tabs, .w3ls-tabs {
		height: 385px;
	}
}
@media(max-width:320px){
	body h1 {
		line-height: 32px;
		font-size: 1em;
	}
	.message.warning {
		width: 82%;
	}
	.sap_tabs, .w3ls-tabs {
		width: 78.1%;
		padding: 1.7em;
		height: 355px;
	}
	.inset input[type="text"], .inset input[type="password"], .inset input[type="email"] {
		width: 85%;
		font-size: 14px;
		padding: .5em 1em;
	}
	.inset input[type="submit"] {
		font-size: 12px;
		margin: 2em 0 0em;
		padding: .4em 1em;
	}
	.resp-tab-item {
		font-size: 1em;
	}
	.right-section-w3ls {
		width: 83.9%;
	}
	.copy-right {
		margin: 25px 26px;
	}
	.right-section-w3ls {
		background: url(../images/side.jpg)no-repeat 0px -181px;
		background-size: cover;
		min-height: 120px;
	}
}
/*--responsive--*/